{% extends "base.html" %}
{% block content %}

<h2>Add Doctor</h2>

<form method="POST">
    <input type="text" name="name" placeholder="Doctor Name" required><br><br>
    <input type="text" name="specialization" placeholder="Specialization" required><br><br>
    <input type="number" name="experience" placeholder="Experience (years)" required><br><br>
    <input type="text" name="available_slots" placeholder="Slots (e.g. 10AM,11AM,2PM)" required><br><br>
    <button type="submit">Add Doctor</button>
</form>

{% endblock %}