{% extends "base.html" %}
{% block content %}

<h2>Edit Doctor</h2>

<form method="POST">
    <input type="text" name="name" value="{{ doctor.name }}" required><br><br>
    <input type="text" name="specialization" value="{{ doctor.specialization }}" required><br><br>
    <input type="number" name="experience" value="{{ doctor.experience }}" required><br><br>
    <input type="text" name="available_slots" 
           value="{{ doctor.available_slots | join(',') }}" required><br><br>

    <button type="submit">Update Doctor</button>
</form>

{% endblock %}